version: "3.1"

services:
  db:
    container_name: db
    image: postgres:15-alpine
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=cinesync-dev
      - POSTGRES_PASSWORD=@BarelyAnInconvenience@
      - POSTGRES_DB=cinesync-dev
      - TZ=America/Toronto
    volumes:
      - ./api/db-data:/var/lib/postgresql/data
  api:
    container_name: api
    build:
      context: ./api
    environment:
      - TZ=America/Toronto
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - MAILGUN_KEY=${MAILGUN_KEY}
      - MAILGUN_DOMAIN=${MAILGUN_DOMAIN}
      - NODE_ENV=
    ports:
      - 3000:3000
    restart: always
