name: Build Docker Image

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: |
          cd api
          docker build --build-arg DATABASE_URL=postgres://test --tag cinesync-api:$(date +%s) .

  build-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: |
          cd web
          echo "API_HOST=http://localhost:3000" > .env
          echo "TMDB_TOKEN=tmdbtoken_" >> .env
          docker build --tag cinesync-web:$(date +%s) .
